<aside class="form-container">
    <header>
        <div class="title--main">JuiceBoxify</div>
        <div class="title--sub">Me</div>
    </header>
    <form method="get">
        <div class="input-container">
            <input name="url" class="input" required />
            <label for="url" class="label">Enter an image URL</label>
            <small class="subtitle">If a face is found, it will be given juice!</small>
        </div>
        <section class="button-container">
            <button type="submit">Juicify it!</button>
        </section>
    </form>
</aside>

<% if @path %>
    <section class="result">
        <img src="<%= @path %>">
    </section>
<% end %>

<% if @not_found %>
    <section class="result fail-text">
        <p>Whoops, we couldn't find any faces!</p>
    </section>
<% end %>