<aside class="form-container">
    <header>
        <div class="title--main">JuiceBoxify</div>
        <div class="title--sub">Me</div>
    </header>
    <form method="get">
        <input placeholder="Image URI" name="url" />
        <label for="url">Enter an URI of an image to make it juicy</label>
        <section class="button-container">
            <button type="submit">Juicify it!</button>
        </section>
    </form>
</aside>

<% if @path %>
    <section class="result">
        <img src="<%= @path %>">
    </section>
<% end %>

<% if @not_found %>
    <section class="result fail-text">
        <p>Whoops, we couldn't find any faces!</p>
    </section>
<% end %>