<section>
    <h1 class="title">Juiceboxify.me</h1>
    <p class="subtitle">Where all your dreams come true</p>
</section>

<section>
    <form action="get">
        <div class="field">
            <label class="label">Enter a URL of an image below to make it juicy</label>
            <div class="control">
                <input class="input" name="url">
            </div>
            
        </div>
        
        <button class="button is-primary" type="submit">Juiceboxify</button>
    </form>
</section>

<% if @path %>
    <section>
        <img src="<%= @path %>">
    </section>
<% end %>

<% if @not_found %>
    <section>
        <p>Whoops, we couldn't find any faces!</p>
    </section>
<% end%>