<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <title>Juicebox yourself!</title>
</head>

<body>
    <main>
        <%= yield %>
    </main>
    
    <footer>
      <div class="footer">
        <p>
          created with
          <span class="heart">❤</span>
          <small><sub>(and Ruby)</sub></small> by
          <a
            href="https://github.com/HorizonShadow"
            target="_blank"
            >Cereal</a>
          and
          <a
            href="https://github.com/SaitamaSama"
            target="_blank"
          >Ikari</a>
        </p>
        <p>
          <a href="https://github.com/HorizonShadow/juiceboxify.me" target="_blank">Github</a>
        </p>
      </div>
      <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/jleblanc">
        <img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee">
        <span style="margin-left:5px">
          Buy me a coffee
        </span>
      </a>
    </footer>
    <script async defer src="https://sa.juiceboxify.me/app.js"></script> 
    <noscript><img src="https://sa.juiceboxify.me/image.gif" alt=""></noscript>
</body>