<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/main.css" rel="stylesheet">
    <title>Juicebox yourself!</title>
</head>

<body>
    <main>
        <%= yield %>
    </main>
    
    <footer>
        created with
        <span class="heart">❤</span>
        <small class="notice-me"><sub>(and Ruby)</sub></small> by
        <a
          href="https://github.com/HorizonShadow/juiceboxify.me"
          target="_blank"
          >Cereal</a
        >
      </footer>
    <script async defer src="https://sa.juiceboxify.me/app.js"></script> 
    <noscript><img src="https://sa.juiceboxify.me/image.gif" alt=""></noscript>
</body>