<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/main.css" rel="stylesheet">
    <title>Juicebox yourself!</title>
</head>

<body>
    <main>
        <%= yield %>
    </main>
    
    <script async defer src="https://sa.juiceboxify.me/app.js"></script> 
    <noscript><img src="https://sa.juiceboxify.me/image.gif" alt=""></noscript>
</body>